<html>
		<head>
			<title>Inspect Github Issues of Atom Repository</title>
		</head>
		<body>
			<div id="app" class="container">
				<br>
			  <h1>Bienvenue!</h1>
        <h3>This simple page is built to make your life easier while searching for specific issues of <a href="https://github.com/atom/atom">Atom repository</a> on Github.com</h3>
  			<hr>
        <responses></responses>
			</div>

      <footer class="center">
				<center>
					<hr>
	        Istanbul, May 2018
				</center>
      </footer>

			<!-- Componenet Template -->
      <template id="responses-template">
        <div>
					<h3>Not So Cool Query Builder</h3>
					<span><strong>State:</strong>
						<select v-model="selectedState">
						  <option disabled value="">Please select one</option>
						  <option>open</option>
						  <option>closed</option>
						  <option>all</option>
						</select>
						{{ selectedState }}
					</span>
					<br>

					<span><strong>Labels:</strong> </span>
					<div style="max-height:300px;overflow:auto">
						<div v-for="label in labels" >
 							 <input type="checkbox" v-bind:id="label.id" v-bind:value="label.name" v-model="checkedLabels">
							 {{label.name}} 
						</div>					
					</div>
					<hr>
					<span><em>Checked labels:</em>{{ checkedLabels }}</span>
					<br>
				
					<span><strong>Sort:</strong>
						<select v-model="selectedSort">
							<option disabled value="">Please select one</option>
							<option>created</option>
							<option>updated</option>
							<option>comments</option>
						</select>
						{{ selectedSort }}
					</span>					

					<p><strong>Direction ascending:</strong> <input type="checkbox" id="checkbox" v-model="direction"></p>
					<button v-on:click="initiateQuery"> Create Query & Fetch Issues</button>
					<hr>

          <h3>Here are the fetched issues.</h3>

					<table>
					  <thead>
					    <tr>
					      <th>Title</th>
								<th>Comments</th>
					      <th>Created At</th>
					      <th>Updated At</th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr v-for="issue in issues">
					      <td><a v-bind:href="issue.html_url">{{issue.title}}</a></td>
								<td>{{issue.comments}}</td>
					      <td>{{issue.created_at}}</td>
					      <td>{{issue.updated_at}}</td>
					    </tr>
					  </tbody>
					</table>
        </div>
      </template>

			<!-- Import Vue.js and my application -->
			<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.3/vue.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.1/axios.js"></script>
			<script src="app.js"></script>

			<!-- Import the UI framework -->
			<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
			<link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
			<link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">

		</body>
</html>