<html>
		<head>
			<title>Inspect Github Issues of Atom Repository</title>
		</head>
		<body>
			<div id="app">
			  <h1>Bienvenue!</h1>
        <h3>This simple page is built to make your life easier while searching for issues of <a href="https://github.com/atom/atom">Atom repository</a> on Github.com</h3>

  			<hr>
        <responses></responses>
        
			</div>

      <footer>
        <hr>
        Istanbul, May 2018
      </footer>

			<!-- ##### Componenet Templates ##### -->
			<template id="querybuilder-template">
				<div>

				</div>
			</template>

      <template id="responses-template">
        <div>
					<h3>Not So Cool Query Builder</h3>
					<span>State:
						<select v-model="selectedState">
						  <option disabled value="">Please select one</option>
						  <option>open</option>
						  <option>closed</option>
						  <option>all</option>
						</select>
						{{ selectedState }}
					</span>

					<br>
					<ol>
						<li v-for="label in labels">
							<input type="checkbox" v-bind:id="label.id" v-bind:value="label.name" v-model="checkedLabels">
							<label for="label">{{label.name}}</label>
						</li>
					</ol>
					<span>Checked labels: {{ checkedLabels }}</span>
					<br>
				
					<span>Sort:
						<select v-model="selectedSort">
							<option disabled value="">Please select one</option>
							<option>created</option>
							<option>updated</option>
							<option>comments</option>
						</select>
						{{ selectedSort }}
					</span>					

					<p>Direction ascending: <input type="checkbox" id="checkbox" v-model="direction"></p>
					<button v-on:click="initiateQuery"> Create Query & Fetch Issues</button>
					<hr>

          <h3>Here are the fetched issues.</h3>
          <ul>
            <li v-for="issue in issues">
              <a v-bind:href="issue.html_url">{{issue.title}}</a>
            </li>
          </ul>
        </div>
      </template>


			<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.3/vue.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.1/axios.js"></script>
			<script src="app.js"></script>
		</body>
</html>